p {
    font-size: 50;
    color: black;
    text-decoration: none;
    font-style: oblique;
    text-shadow: 3px;
}

#newsbar {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background-color: white;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgb(14, 13, 13), 2px 5px 15px rgb(77, 74, 74);
}

#newsbar:hover {
transition: 0.5s;
cursor: pointer;
}

#newsbar a {
color:white;
text-decoration: none;
text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
}

#newsbar a:hover {
transition: 0.5s;
color: red;
text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
}

.clients{
padding-bottom: 50px;
}

.clients .swiper-pagination {
margin-top: 40px;
position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
width: 15px;
height: 5px;
background-color: grey;
opacity: 1;
}

.counts {
    background-color: aqua;
    padding: 30px;
}

.counter {
    background-color: grey;
    padding: 30px;
}

.counts .counter span {
font-weight: bold;
font-size: 50px;
}

.counts .counter p {
    font-size: 25px;
}

.cta {
    background: linear-gradient(rgba(3, 3, 3, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/slide1.png") fixed center center;
    background-size: cover;
}


#featured-services .service-item .icon-box{
    border-width: 1px;
    border-style: ridge;
    border-radius: 5;
    border-color: darkgray;
    background-color: white;
    padding: 15px;
    margin: 5px; 
    margin-bottom: 10px;
}   


#featured-services .service-item .icon-box:hover{
    transition: ease-in-out 0.5s;
    background-color: lightgrey;
    cursor: pointer;
    transform: translateY(-10px);
}

.icon-box i {
    float: left;
    padding-right: 10px;
}

.icon-box h4 {
    font-size: 20px;
}