.hero h3{
    margin-bottom: 15px;
}

/* #newsbar {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    background-color: white;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgb(14, 13, 13), 2px 5px 15px rgb(77, 74, 74);
}

#newsbar:hover {
transition: 0.5s;
cursor: pointer;
}

#newsbar a {
color:white;
text-decoration: none;
text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
}

#newsbar a:hover {

transition: 0.5s;
color: red;
text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
} */

.clients{
padding-bottom: 50px;
}

.clients .swiper-pagination {
margin-top: 40px;
position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
width: 15px;
height: 5px;
background-color: grey;
opacity: 1;
}

/* .maintitle {
    font-size: 18px;
    font-family: sans-serif ;
    font-weight: normal;
} */

.features .clients-slider .swiper-wrapper .swiper-slide .nav-link {
    background-color: rgba(207, 207, 207, 0.2);
}

.features .clients-slider .swiper-wrapper .swiper-slide .nav-link .mainicon i{
    justify-content: center;
    color: var(--color-secondary);
    font-size: 80px;
    padding:15px;  
}

.features .clients-slider .swiper-wrapper .swiper-slide .nav-link h6 {
    padding-top: 15px;
    text-align: center;
    color: var(--color-primary);
}

.features .clients-slider .swiper-wrapper .swiper-slide .nav-link h6.active {
    padding-top: 15px;
    text-align: center;
    color: var(--color-white);
}

.counts {
    padding-top: 2px;
    padding-bottom: 1px;
    background-color: white;
}

.counter {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(207, 207, 207, 0.4)), url(../assets/Images/Alharbicounter2.png);
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.counts .counter span { 
    font-weight: bold;
    font-size: 45px;
    color: var(--color-primary);
}

.counts .counter p {
    color: var(--color-primary);
    font-size: 20px;
    font-style:oblique;
    font-weight: bold;
}

.cta {
    background: linear-gradient(rgba(55, 57, 105, 0.7), rgba(207, 207, 207, 0.5)), url("../assets/Images/Alharbicta2.png") fixed center center;
    background-size: cover;
}

.cta h2{
    font-style: italic;
}

.cta h4{
font-weight: bold;
padding-top: 20px;
padding-bottom: 20px;
}

.cta .btn{
background-color: var(--color-white);
font-size: 16px;
border: 1px solid var(--color-primary);
font-weight: bold;
}

.cta .btn:hover{
background-color: var(--color-primary);
color: var(--color-white);
}

.features .tab-content .tab-pane .featured-services .service-item .guidelines {
    color: var(--color-primary);
    text-align: center;
    margin-top: 10px;   
    padding-top: 15px;
}

#featured-services .service-item .icon-box{
    border-width: 1px;
    border-style: ridge;
    border-radius: 7px;
    border-color: rgba(207, 207, 207, 1);
    background-color: white;
    padding: 15px;
    margin: 5px; 
    margin-bottom: 10px;
}   


#featured-services .service-item .icon-box:hover{
    transition: ease-in-out 0.5s;
    background-color: rgba(var(--color-primary-rgb),0.3);
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 0px 30px rgba(55, 55, 63, 0.3);
}

.icon-box i {
    float: left;
    padding-right: 10px;
    font-size: 35px;
}

.icon-box h4 {
    font-size: 20px;
    padding-top: 12px;
    text-align: left;
}

.gallery {
    overflow: hidden;
}

.gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--color-secondary);
    opacity: 1;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
    color: var(--color-primary)
}

.gallery .swiper-slide h5 {
    text-align: center;
    padding-top: 8px;
    font-style: italic;
}

@media (min-width: 992px) {
    .gallery .swiper-wrapper {
        padding: 40px 0;
    }


    .gallery .swiper-slide-active {
        border: 8px solid var(--color-primary);
        padding: 5px;
        background-color: white;
        scale: 1.3;
        z-index: 1;
        box-shadow: 0px 0px 30px rgba(55, 55, 63, 0.8);
    }
}

@media (min-width: 1024px) {
    .body {
    width: 100%;
    }
}

.reports .year {
    overflow: hidden;
    text-align: center;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
    transition: 0.3s;
    width:100%;
    margin-left: 5px;
    margin-right: 5px;
    }

.reports .year .yearReport {
    overflow: hidden;
    position: relative;
    background: none;
}

.reports .year :hover {
    transform: scale(1.09);
    }

.reports .year .yearReport h4{
    font-size: 40px;
    font-weight: 500;
}

.reports .year .yearReport :after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    z-index: 1;
}

.reports .nav-tabs .nav-link {
    border: 1px solid var(--color-primary);
    background: white;
}
 
.reports .nav-tabs .nav-link .active{
    background-color: red;
}
.reports .nav-tabs .nav-link h4{
    background: none;
    padding: 20px;
}

.gallery .swiper-wrapper {
    position: relative;
}

.gallery .custom-swiper-button-next {
    display:flex;
    justify-content: end;
}

.gallery .custom-swiper-button-prev {
    display: flex;
    justify-content: start;
}

.section1 {
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    width: 100%;
    position: relative;
    background-color: var(--color-primary);
    box-shadow: 0px 0 10px rgba(55, 55, 63, 0.8);
    margin-top: 20px;
}

.news {
    display: inline-block;
    margin-top: 0;
    animation: marquee 20s linear infinite
}

.collection1 {
    position:relative;
    left: 0%;
    animation: swap 20s linear infinite;
}

.item {
    display: inline-block;
    padding: 0 1rem;
    font-size: 18px;
    color: white;
    font-weight:lighter;
}

@keyframes marquee {
0% {transform: translateX(0);
}
100% {transform: translateX(-100%);
}
}

@keyframes swap {
    0%, 50% {left: 0%;
    }
    50.01%, 100% {left: 100%;
    }
    }

.scroll-top {
    position: fixed;
    visibility:hidden;
    right: 10px;
    bottom: 15px;
    height: 20px;
    width:20px;
    border-radius: 6px;
    transition:all 0.5s;
    z-index: 995;
}    

.scroll-top i{
    font-size: 40px;
    color: red;
    line-height: 0;
    border: 1px solid var(--color-secondary);
}

.scroll-top:hover {
    background-color: var(--color-secondary);
    opacity: 0.8;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}

.testimonials .testimonial-item .btn {
    background-color: var(--color-primary);
    font-size: 15px;
    font-weight: bold;
    color: var(--color-white);
    margin-top: 30px;

}

.testimonials .testimonial-item h2 {
margin-top: 20px;
}

.testimonials .testimonial-item h5 {
    font-style: italic;
    margin-top: 15px;
    color: rgb(207, 207, 207);
}

.credits {
    text-align: left;
}

.credits .img {
    width: 5%;
    position:inherit ;
    display: inline;
}

.employeecard {
    border: 1px solid rgba(var(--color-secondary-rgb),0.8);
    border-radius: 5px;
    background: linear-gradient(rgba(91, 123, 170, 0.3), rgba(255, 255, 255, 1));
    display: grid;
    list-style: none;
}

.imagecard {
    width: 105%;
    float: right;
    display: inline;
    border: 1px solid rgba(var(--color-secondary-rgb),0.8);
    border-radius: 5px;
    background: linear-gradient(rgba(91, 123, 170, 0.3), rgba(255, 255, 255, 1));
}

.namecard {
    padding: 10px;
    text-align: left;
    justify-content: left;
    border: 1px solid rgba(var(--color-secondary-rgb),0.8);
    border-radius: 5px;
    background: linear-gradient(rgba(91, 123, 170, 0.3), rgba(255, 255, 255, 1));
}